name: Java CI with Gradle
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5

      - name: Setup JDK 11
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: '8.11'

      - name: Assemble the project
        run: gradle assemble

      - name: Run the tests
        run: gradle test

      - name: Run build in a subdirectory
        working-directory: build
        run: gradle build

